<div class="home" *ngIf="data">

    <mat-card>
        <mat-card-title>Covid-19</mat-card-title>
        <mat-card-content>
            <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
            <p> Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without
                special treatment.</p>
            <h4>HOW IT SPREADS</h4>
            <p>The virus that causes COVID-19 is mainly transmitted through droplets
                generated when an infected person coughs, sneezes, or exhales. These
                droplets are too heavy to hang in the air, and quickly fall on floors or
                surfaces.
            </p>
            <p>
                You can be infected by breathing in the virus if you are within close
                proximity of someone who has COVID-19, or by touching a contaminated
                surface and then your eyes, nose or mouth.
            </p>
        </mat-card-content>
    </mat-card><br>

    <app-state-wise [data]="data"></app-state-wise><br>

    <mat-card>
        <app-pie-chart [text]="text" [data]="chartData"></app-pie-chart>
    </mat-card><br>

    <mat-card>
        <app-bar-chart [text]="text" [data]="chartData"></app-bar-chart>
    </mat-card><br>

    <mat-card>
        <mat-card-title>
            <h2> To prevent the spread of COVID-19: </h2>
        </mat-card-title>
        <mat-card-content>
            <h3 *ngFor="let step of preventSteps">
                <mat-icon>keyboard_arrow_right</mat-icon>
                {{step}}
            </h3>
        </mat-card-content>
    </mat-card>

</div>

<div class="lazy" *ngIf="!data">
    <mat-spinner></mat-spinner>
</div>